node_modules

index.*
!index.ts
!index.test.tsx
secure.*
!secure.ts
!secure.native.ts
storage.*
!storage.ts
!storage.native.ts

tsconfig.tsbuildinfo

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
